.color-nav {
    background-color: black;
    height: 58px;
}

.btn {
    background-color: transparent;
    border-radius: 2em !important;
    border: 0.2em solid #1DB954 !important;
    color: #1DB954 !important;
    cursor: pointer;
    font-size: 16px !important;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    height: 44px;
  }
  
  .btn:hover {
    background: #1DB954;
    color: #333 !important;
  }
  
  .btn--login {
    margin: 0 auto;
  }