.VolumeSlider {
    z-index: 1000;
    position: absolute;
    width: 150px;
    right: 20px;
    top: 10px;
}

table tbody, table thead {
    display: block;
}

.table td {
    border-color: #201f1f !important;
}

.table th {
    border-color: #201f1f !important;
}

.table td {
    height: 75px;
    vertical-align: middle !important;
}

.table-hover tbody tr:hover td {
    background:#201f1f;
    color: white;
}

table tbody {
    max-height: 480px;
    overflow-y: scroll;
    color: white;
    background: #181717;
}

thead > tr > th {
    background: #181717;
    color: white;
}

th:nth-child(1), td:nth-child(1) {
    width: 75px;
}

th:nth-child(2), td:nth-child(2) {
    width: 200px;
}

th:nth-child(3) {
    width: 100px;
}